## .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.DotSettings.user
*.sln.docstates

## NuGet
*.nupkg
**/packages/*
!**/packages/build/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## IDE
.vs/
.vscode/
.idea/
*.swp
*~

## OS
.DS_Store
Thumbs.db

## Docker build files
Dockerfile.build
